td {
    text-align: center;
    padding: 10px;
}

input.col3 {
    width: 200px;
}

input.col2 {
    width: 120px;
}

input.result {
    width: 260px;
    text-align: right;
}

input {
    width: 50px;
}

label {
    color: #ffffff;
}